.about {
    padding: 60px 0;
    width: 100% !important;
}
html[data-theme="dark"] .about {
    background: var(--dark-black);
}
.about__content__left{
    margin: auto !important;
}
.about__content__left__box{
    display: block;
    text-align: center;
}
.about__content__left__box_img{
    width: 100%;
}
.about__content__right{
   padding: 0 20px;
}
.about__content__right_title{
    text-transform: capitalize;
    font-size: 3rem;
    color: var(--light-red);
    padding-bottom: 20px;
}
html[data-theme="dark"] .about__content__right_title{
    color: var(--yallow);
}
.about__content__right_desc{
    font-size: 1.3rem;
    word-spacing: 4px;
    line-height: 1.6;
    color: var(--dark-grey);
}
html[data-theme="dark"] .about__content__right_desc{
    color: var(--light-grey);
}
.about_education_desc{
    color: var(--color-text);
}
.tabs_title{
    color: var(--color-text);
}
.about__list{
    padding-left: 15px;
}
.about__list_item{
    color: var(--color-text);
}
@media (max-width: 1024px){
    .about__content__right{
        padding-top: 20px;
    }
}
